@charset 'utf-8';
@import './home.less';

html,body,#root{
    height:100%
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 0
  }
::-webkit-scrollbar {
    width: 1px;
    height: 1px
  }
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: transparent;
    -webkit-border-radius: 6px;
    outline: 1px solid transparent;
    outline-offset: -2px;
    border: 1px solid transparent;
    // filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5
  }
  ::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: transparent;
    -webkit-border-radius: 6px
  }