
  .pageContent{
    height: 78vh;
    overflow-y: scroll;
    background: #fff;
    padding: 24px;
    scrollbar-width: none;
  }
  .foot{
    text-align: center;
  }
  .box .logo {
      width: 120px;
      height: 31px;
      background: url('../img/logo.svg') center no-repeat;
      margin: 16px 24px 16px 0;
      float: left;
    }
  .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .imgbox{
      width: 150px;
      padding: 10px;
      transition: all 0.2s ease-in;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
       }
    }
   .imgbox:hover{
       background: #f7f7f7;
       -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
       box-shadow: 0 0 30px rgba(0,0,0,0.45);
       -webkit-transform: translate3d(0, 0px, -2px);
       transform: translate3d(0, 1px, -2px);
   }
   }
   .search-box{    display: flex;
    flex-direction: row;
    justify-content: space-between;
     .search{
       width: 350px;
       position: fixed;
       padding: 20px 10px;
       box-shadow: 0 0 9px rgba(0,0,0,0.1);
       -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
       border-radius: 5px;
     }
     .list{
       width: calc(100% - 200px);
       margin-left: 350px;
     }
     .ant-card {
      width: 180px !important;
      margin: 10px;
     }
     .ant-card-cover{
      width: 100%;
      height: 280px;
      background-color: #dbdbdb;
      img{
        width:  100%;
        height: 100%;
      }
     }
   }

   .modelDetail{
     .ant-modal-footer,.ant-modal-header,.ant-modal-close{
         display: none;
     }
     .modelBtn{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 20px;
      span{
        font-size: 24px;
        cursor: pointer;
      }
     }
     .contentBox{
       img{
         width: 100%;
         padding-bottom: 20px;
       }
     }
   }

